canvas
{
 margin-top: 17px;
 max-width: 100%;
 border: 1px solid #000;
}
.color 
{
 border-radius: 50px;
 width: 20px;
 height: 25px; 
 margin-top: 10px;
 margin-left: 5px;
 cursor: pointer; 
}
.btn-primary
{
 margin-top: 50px;
 border-radius: 25px;
}
#red 
{
 border-color: red;
}
#red:hover
{
 background-color: red;
}
#green 
{
 border-color: green;
}
#green:hover
{
 background-color: green;
}
#yellow 
{
 border-color: yellow;        
}
#yellow:hover
{
 background-color:yellow;
}
#purple 
{
 border-color: purple;
}
#purple:hover
{
 background-color: purple;
}
.display-4
{
 margin-top: 80px; 
}
